
	<div class="content">
	<div class="container">
		<div class="login-page">

			    <div class="dreamcrub">
			   	 <ul class="breadcrumbs">
                    <li class="home">
                       <a href="home.html" title="Go to Home Page">Home</a>&nbsp;
                       <span>&gt;</span>
                    </li>
                    <li class="women">
                       Login
                    </li>
                </ul>
                <ul class="previous">
                	<li><a href="home.html">Back to Previous Page</a></li>
                </ul>
                <div class="clearfix"></div>
			   </div>
			   <div class="account_grid">
			   <div class="col-md-6 login-left wow fadeInLeft" data-wow-delay="0.4s">
			  	 <h2>NEW CUSTOMERS</h2>
				 <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
				 <a class="acount-btn" ui-sre="register">Create an Account</a>
			   </div>

			   <div class="col-md-6 login-right wow fadeInRight" data-wow-delay="0.4s" ng-controller="accountCtrl">
			  	<h3>REGISTRADOS</h3>
				<p>Se voce possue uma conta , Por favor entre.</p>
				<form action="/" id="myLogin">
				  <div>
					<span>Email<label>*</label></span>
					<input type="text" name="username" id="username" ng-model="username">
				  </div>
				  <div>
					<span>Senha<label>*</label></span>
					<input type="password" name="password" id="password" ng-model="password">
				  </div>
				  <a class="forgot" href="#">Esqueceu a senha?</a>
				  <input type="submit" value="Login" ng-click="submit()">
			    </form>
			   </div>
			   <div class="clearfix"> </div>
			 </div>
		   </div>
</div>
